.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.card-img-top {
  height: 220px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top img {
  max-width: 180px;
  height: auto;
}

.card-btns {
  display: flex;
  gap: 10px;
}

.card .card-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card .card-rating span span span svg {
  width: 20px;
}

.card .badge {
  text-transform: capitalize;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
}

.list-group .list-group-item {
  text-transform: capitalize;
}

.product-modal {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 0px 20px;
}

.product-modal.active {
  display: flex;
}

.product-modal .modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.product-modal .row {
  z-index: 9999;
  position: relative;
  max-width: 800px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  margin: 10px 0px;
}

.product-modal .row .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-modal .row .content .bi{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}

.product-modal .row .modal-image {
  width: 100%;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
}

.product-modal .row .modal-image img {
  width: 100%;
}

.product-modal .row .modal-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-modal .row .modal-rating span span span svg {
  width: 26px;
}

.product-modal .row .modal-sku {
  position: absolute;
  top: 20px;
  left: 20px;
}

.product-modal .row .badge.cate {
  font-size: 15px;
  text-transform: capitalize;
}

@media screen and (max-width:640px) {
  .product-modal {
    align-items: start;
  }
}